.top{
  padding: 25px;
  font-size: 25px;
}
.middle{
  background-color: #FFDDD2;
  padding: 100px;
}
 body{
   margin: 0;
   text-align: center;
   background: linear-gradient(262deg, #ff7854,#fd267d);

 }
h1{
  font-family: 'Courgette', cursive;
}
h2{
  font-family: 'Nerko One', cursive;
}
h3{
  font-family: 'Nerko One', cursive;
}
.login-home{
  position:fixed;
  right: 20px;
  top: 0;
  padding: 10px;

}
.login-home:hover{
  background:#C8DBBE;
  border-radius:8px;
}
